body{
    font-family: "Outfit", sans-serif;
    background-color: hsl(30, 54%, 90%);
    font-size: 18px;
    padding: 80px;
    line-height: 1.6em;
}
img{
    width: 100%;
    object-fit:cover;
}
h1{
    font-family: "Young Serif", serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.6em;
}
h2{
    color:#78514A;
    font-family: "Young Serif", serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.6em;
}
h3{
    font-family: "Outfit", sans-serif;
    color:#683349;
}
ul{
    padding-inline-start: 22px;
}
ol{
    padding-inline-start: 22px;
}
ol li::marker{
    color: #78514A;
    font-weight: bold;
}
li{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}
strong{
    color :hsl(24, 5%, 18%)
}
table{
    width:100%;
    border-collapse: collapse;
    border: none;
}
hr{
    margin:30px 0px;
}
.main-page{
    background-color: hsl(0, 0%, 100%);
    width: 40%;
    margin: auto;
    padding: 60px;
    border-radius: 20px;
}
.prep{
    background-color: hsl(330, 100%, 98%);
    margin: auto;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 30px 0px;
}
.nutritionFact{
    padding-left: 30px;
}
.nutritionInfo{
    font-weight: 700;
    color:#78514A;
}
tr{
    border-top:1px solid black;
}
tr:first-child{
    border-top: none;
}
td {
    border: none !important;
    padding:8px 0
}