@font-face {
    font-family: 'Inter';
    src: url('assets\fonts\Inter-VariableFont_slnt,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
html, body, { 
    margin:auto; 
    padding:auto; 
    height:100%; 
  }
body{
    background-color: hsl(0, 0%, 8%);
    color:hsl(0, 0%, 100%);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
}
img{
    border-radius: 50%;
    width: 40%;
}
.main-center{
    width: 40vh;
    margin: auto;
    border-radius: 15px;
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    padding:40px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.social{
    background-color: hsl(0, 0%, 20%);
    padding:20px;
    width:70%;
    margin:20px auto;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}
.social:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}
.desc{
    margin:40px 0;
}
h1{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
h2{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    color:hsl(75, 94%, 57%);
}
